# Configuration for fw_printenv/fw_setenv on Rockchip RK3566
# Format: device_name offset env_size flash_sector_size num_sectors
# U-Boot environment is in the uboot_env partition at offset 8128s (sectors)
# 8128 sectors * 512 bytes/sector = 4161536 bytes = 0x3F8000

# Device name                Offset      Env size  Flash sector  Num sectors
/dev/mmcblk0                 0x3F8000    0x8000    0x200         1
