# Ignore all files and directories starting with a dot (any depth)
**/.*

# Keep important dotfiles and folders
!.gitignore
!.gitattributes
!.github
!.oelint-adv
!.pre-commit-config.yaml
!tests/.framework

# Ignore any bitbake build directories and their contents anywhere in the repo
**/build/tmp
**/build/sstate-cache
**/build/cache
**/*.log

#Ignore any buildtools downloads
**/buildtools/
**/buildtools-downloads/
