[Unit]
Description=Restore persistent configuration from userdata partition
After=local-fs.target
Before=network-pre.target sshd.service connman.service systemd-networkd.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/sbin/persist-config.sh restore
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=sysinit.target
