[Unit]
Description=Resize userdata partition if unallocated space exists
DefaultDependencies=no
After=systemd-udev-settle.service local-fs-pre.target
Before=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/resize-userdata.sh
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
